.menuItem{
    transition: all .2s ease-in-out;
}
.menuItem:hover{
    color: #a3d2f8 !important;
}
.mobileMenuItem{
    transition: all .2s ease-in-out;
}
.mobileMenuItem:hover{
    background-color: #fff;
}
.mobileMenuItem > a{
    transition: all .2s ease-in-out;
}
.mobileMenuItem:hover > a{
    color: #0d47a1 !important;
}