@import './fonts.css';
body {
  overflow-x: hidden;
  margin: 0;
  font-family: IranYekan, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: rgb(244,249,255);
  background: radial-gradient(circle, rgba(244,249,255,1) 14%, rgba(255,255,255,1) 90%);
}
*{
  box-sizing: border-box;
}
.ck-editor__editable_inline {
  min-height: 400px;
}
